{% extends "index.html" %}
{% block content %}
    <div class="container-fluid center-block">
        <div class="col-md-8 offset-md-4">
            <form class="form-horizontal" method = "POST" >
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">{{ form.name.label }}</label>
                    <div class="col-sm-10">
                        {{ form.name(value=group.name) }}
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-default" type="submit">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}