{% extends "index.html" %}
{% block content %}
    <div class="col-md-12 col-sm-12 col-lg-12" style="padding: 0">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>
                        <td>
                            <form action="{{ url_for("edit_group", group_id=group.id) }}" method = "GET" >
                                <button class="btn btn-default" type="submit" >Редактирование</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for("delete_group", group_id=group.id) }}" method="DELETE" >
                                <button class="btn btn-default" type="submit" >Удалить</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for("find_student", group_id=group.id) }}" method="GET" >
                                <button class="btn btn-default" type="submit" >Самый старший студент</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}