{% extends "index.html" %}
{% block content %}
    <div class="col-md-12 col-sm-12 col-lg-12" style="padding: 0">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">id группы</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <th scope="row">{{ student.id }}</th>
                        <td>{{ student.name }}</td>
                        <td>{{ student.surname }}</td>
                        <td>{{ student.date_of_birth }}</td>
                        <td>{{ student.group_id }}</td>
                        <td>
                            <form action="{{ url_for("edit_student", student_id=student.id) }}" method = "GET" >
                                <button class="btn btn-default" type="submit" >Редактирование</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for("delete_student", student_id=student.id) }}" method = "DELETE" >
                                <button class="btn btn-default" type="submit" >Удалить</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}